body {
    margin: 0;
    /* background: rgb(255,105,105); */
    background: linear-gradient(0deg, rgba(255,105,105,1) 0%, rgba(255,245,224,1) 70%);
    height: 100vh;

}
.cont {
    display: flex;
    justify-content: center;
}
button {
    background-color: #141E46;
    color: #FFF5E0;
    padding: 20px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
}
button:hover {
    background-color: #30395c;
}

h3 {
    color: #BB2525;
    font-size: 40px;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
}
h1, h2 {
    font-family: 'Bebas Neue', sans-serif;
    color: #141E46;
}
h1 {
    font-size: 50px;
}
/* h2 {
    font-size: 40px;
} */